<br>
<div>
  <canvas id="canvas2"></canvas>
</div>

<script>
    {% if range_result %}
        var datapoints2 = {{ range_result.values1 }};
        var datapoints3 = {{ range_result.values2 }};
        var config2 = {
            type: 'line',
            data: {
                labels: {{ range_result.labels1 }},
                datasets: [{
                    label: 'График функции F(x))',
                    data: datapoints2,
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    fill: false
                }, {
                    label: 'Интерполяция ({{ formula.1 }})',
                    data: datapoints3,
                    borderColor: 'rgb(255, 159, 64)',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    fill: false
                }]
            },
            options: {
                pan: {
                    enabled: true,
                    mode: 'y'
                },

                zoom: {
                    enabled: true,
                    mode: 'xy'
                }
            }
        };
    {% endif %}
    window.onload = function () {
        try {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        } catch (e) {
            console.log('Chart 1 undefined');
        }

        var ctx2 = document.getElementById('canvas2').getContext('2d');
        window.myLine2 = new Chart(ctx2, config2);
    };
</script>