{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Задание</h1>
      <p class="lead">Программно реализовать рекуррентные формулы:</p>
      <ul>
        <li>Маклорена и Тейлора</li>
      <li>Чебышева</li>
      <li>Интерполяционный многочлен Лагранжа</li>
      <li>Схема Эйткена</li>
      <li>Первая и вторая интерполяционные формулы Ньютона</li>
      <li>Первая интерполяционная формула Гаусса</li>
      <li>Интерполяция сплайнами (линейный, параболический, кубический)</li>
      </ul>
      <p class="lead">Исследования сопровождать графиками . Сделать анализ представленных методов.</p>
    </div>
  </div>
{% endblock %}
